@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(background.jpg)
    no-repeat center center/cover;
    }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0 20px;
}

.to-do-app {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: white;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
}

.to-do-app h1 {
    font-size: 2rem;
}

.input-field {
    width: 100%;
    display: flex;
    gap: 10px;
}

.input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-area input {
    flex: 1;
    padding: 10px 17px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 22px;
    background: rgba(255, 194, 209, 0.3);
    color: white;
}

.input-area input::placeholder {
    color: white
}

.input-area button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    color: white;
    font-size: 1.1rem;
    background: rgba(255, 194, 209, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    transition: all 0.3s ease;
}

.input-area button:hover {
    transform: scale(1.1);
    color: blue;
}

.todos-container {
    justify-content: center;
    display: flex;
    align-items: center;
}

#task-list {
    width: 100%;
}
